
.page{
  box-sizing: border-box;
  background-color: #111;
  color: wheat;
  
}

.header{
  height: 20vh;
  display:flex;
  flex: 25% 75%;
  align-items:center;
  padding: 2% 7%;
  margin: 0;
}
.logo{
  display: flex;
  padding-right: 10%;
}
.logo > img{
  max-width: 100%;
  height:13vh;
  border-radius: 35px;
  padding: 5%;
}
.btn{

}
.btn >button{
  height: 8vh;
  width: 30vw;
  color: black;
  background-color: wheat;
  border-radius: 10px;
}
.container{
  height: 100vh;
  padding: 2% 7%;
  margin: 0;
}
.cart{
  display:grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2%;
}
.row{
  color: black;
  padding: 5%;
  border-radius: 7px;
  background-color:wheat;
}

.name{
  display: flex;
}
.footer{
  height: 15vh;
  background-color: #111;
  padding: 2% 7%;
  margin: 0;
}